.form-control {
    display: inline-block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#searchSubmit{
    margin-bottom:3px
}

.table-responsive{
    border-radius: 4px;   
}
.table-responsive > table > tr > th{
    border-top: none;
}

button, input, optgroup, select, textarea {
    margin-top: 1px;
}

#Park {
    margin-left: 15px
}

body {
    background-image: url('../Images/City2.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    
}

.body-content {
    margin-top: 15px;
}

#Oversikt{
    background-color: white;
    opacity: 0.8;
}

#Links{
    color: blue;
}


h2{
    color: white;
    opacity: 1;
}

h4{
    color: white;    
}

label{
    color: white;
    opacity: 1;
}

#Detaljvy{
    color: white;
}

#jumbo{
    opacity: 0.6;
    margin-top: 30px;
}

.navbar-inverse {
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0);
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}


.navbar-collapse[aria-expanded] {
    background-color: rgba(0,0,0,0.7);
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus:not(:hover) {
    border: none;
    background-color: rgba(0,0,0,0);
}

.navbar-header{
    margin-bottom: 20px;
}

footer{
    color: white;
}